Repository the-mirror-gdp/the-mirror, pull requests merged in 2024-03, with the labels that each got.

#23 Fix performance in client when loading into game [DB performance regression]
  mirror-godot-app/scripts/net/space_client.gd
  mirror-godot-app/ui/main_menu/pages/home_page_section.gd
Labels: regression, devops, critical

#47 Add contribute section on docs
  mirror-docs/docs/open-source-code/contribute.mdx
  mirror-docs/docs/open-source-code/freedom-to-own-the-mirror.jpg
Labels: docs improvement

#49 Order issue templates
  .github/ISSUE_TEMPLATE/01-proposal.md
  .github/ISSUE_TEMPLATE/02-bug_report.md
  .github/ISSUE_TEMPLATE/03-cleanup--keeping-the-lawn-green.md
  .github/ISSUE_TEMPLATE/04-docs-request.md
  .github/ISSUE_TEMPLATE/09-planned-feature.md
Labels: cleanup: keeping the lawn green

#50 GDScript docs clean & issue template order fix
  .github/ISSUE_TEMPLATE/02-bug_report.md
  mirror-docs/docs/script/gdscript.mdx
Labels: cleanup: keeping the lawn green
